.backimg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgS{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgBack{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.br{
    border-radius: 50%;
    box-sizing: content-box;
}