
.imgg1{
   background-image: url('https://us.123rf.com/450wm/f8studio/f8studio1905/f8studio190500164/122937843-young-woman-in-gray-sweater-hands-over-head-isolated-on-gray-background.jpg?ver=6');    
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.imgg2{
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/94/86/18/1000_F_294861857_hhwslORlj4f2t5E24EBsKEGOuvbATwa1.jpg');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.imgg3{
    background-image: url('https://img.freepik.com/premium-photo/smiling-young-woman-tshirt-denim-pants-holds-hands-pockets-isolated-white-background_482921-2117.jpg?w=2000');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.imgg4{
    background-image: url('https://media.istockphoto.com/id/1194439772/photo/stylish-woman-in-pink-wide-legs-trousers-sneakers-and-striped-blouse-is-posing-on-one-leg.jpg?s=612x612&w=0&k=20&c=2TOwHd33A8QSaX723m3TkmX-GS0tvCqiOXr3vj-3OuA=');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.imgg5{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/697/938/368/women-urban-model-coats-wallpaper-preview.jpg');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.imgg6{
    background-image: url('https://media.istockphoto.com/id/952079442/photo/female-leather-bag.jpg?s=612x612&w=0&k=20&c=SmyDdfpbpAJ2TDHNZdnGIs9R0uk4qB2RZ-ur9TUwCbA=');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 } 
 
 